<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".shared.SignInActivity"
            android:exported="false" />
        <activity android:name=".HomePage1" />

        <activity
            android:name=".shared.LoginActivity"
            android:exported="false" />


    </application>

</manifest>